{% extends "appbuilder/base.html" %}
{% block content %}
<h2><center>{{_('Welcome')}}</center></h2>

<div class="well">
    Thanks for using RoleMaster!

    <br/><br/>

    RoleMaster is designed to be the living documentation of an organization's
    continuous participatory governance process.  Specifically, this tool is
    designed to capture: 1) The roles that exist in an organization, 2) The
    accountabilities and domains that belong to those roles and 3) Who in the
    organization is filling each role.

</div>
{% endblock %}